


.App {
  margin-top: 10%;
  text-align: center;
  font-family: 'Comfortaa', cursive;
  color: #f2f2f2
} 

body{
  background-image: linear-gradient(to right, #FF70A6 , #FF9770, #FFD670, #E9FF70);
}

.Nav {
  box-sizing: content-box;
  
  width: 25%;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  position: fixed;
  
}

.dash{
  margin-top: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#buttons{
  color: white;
}

.auth-container{
  height: 450px;
  width: 400px;
  border-radius: 40px;
  margin: auto;
  box-sizing: content-box;
  background-image: linear-gradient(to right, #FF70A6 , #FF9770, #FFD670, #E9FF70);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px 5px #FF9770;
}
h1{
  font-size: 50px;

}
.auth-info{
  box-sizing: border-box;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}


